body
{
	background-color: #2B2B2B;
	font-family: 'Merriweather', serif;
	color: #318DAD;
}
#topbar
{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
#menu
{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	background-color: #1A1A1B;
}
.produkt
{
	border-left: 2px dashed #00D6D6;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	color: FFFFFF;
	width: 20%;
}
#p
{
	border-left: 2px dashed #00D6D6;
	border-right: 2px dashed #00D6D6;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	color: FFFFFF;
	width: 20%;
}

a
{
	text-decoration: none;
	color: #00C4C4;
}

a:hover
{
	background-color: #3C3C3C;

}

.sklep
{
	width: 300px;
	height: 300px; 
	display: inline-block;
	margin-right: 20px;
	border: 1px solid #FFFFFF;
}
